{% extends 'index.html' %}
{% load staticfiles %}


{% block comanda %}

<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<!-- <div class="col-sm-12 text-center">

  <h1>Дирекція фірми</h1>
  <hr>


        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/tishin.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>Директор фірми</h5>
          <h4>Тишин Володимир</h4>
        </div><!-- /.col-lg-4 -->
        <!-- <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h5>Технічний деректор</h5>
          <h4>Кабин Руслан</h4>
        </div><!-- /.col-lg-4 -->
        <!-- <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h5>Фінансовий деректор</h5>
          <h4>Куса Уляна</h4>
        </div><!-- /.col-lg-4 -->
<!--</div> -->

<div class="col-sm-12 text-center">

  <h1>Офіс</h1>
  <hr>


        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/ivanov.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>Менеджер</h5>
          <h4>Іванов Ігор</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/yarish.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>Менеджер</h5>
          <h4>Яріш Надія</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/Olena.JPG" alt="Generic placeholder image" width="140" height="140">
          <h5>Менеджер</h5>
          <h4>Коваль Олена</h4>
        </div><!-- /.col-lg-4 -->
</div>

<div class="col-sm-12 text-center">

  <h1>Адміністратори мережі</h1>
  <hr>


        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/login.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Логін Віталій</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/stepanuk.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Степанюк Василь</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/iam.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Петровський Олександр</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/peleh.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Пелех Олег</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/krichko.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Кричко дмитро</h4>
        </div><!-- /.col-lg-4 -->
</div>

<div class="col-sm-12 text-center">

  <h1>Монтажний відділ</h1>
  <hr>


        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/pavlyk.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>Провідний інженер</h5>
          <h4>Павлик Ярослав</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/lencik.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Ленцик Володимир</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Бабич Роман</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/comanda/kulf.jpg" alt="Generic placeholder image" width="140" height="140">
          <h5>інженер</h5>
          <h4>Вільчинський Андрій</h4>
        </div><!-- /.col-lg-4 -->
</div>
{% endblock %}