{% extends 'index.html' %}
{% load staticfiles %}


{% block fotogalerys %}

<div class="col-sm-12 text-center">

	<h1>Фотогалерея компанії РадіоСервіс</h1>
	<hr>
    {% for item in items %}
    <div class="col-sm-4 text-center">
    	<table class="table table-striped text-center">
			<thead>
				<tr class="success">
					<th class="text-center"><p><a href="/fotogalerys/get/{{ item.id }}/">{{ item.name }}</a></p></th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>
						{% if item.image %}
                        <p><a href="/fotogalerys/get/{{ item.id }}/"><img class="thumbnail" src="{{ MEDIA_URL }}{{ item.image.url }}" width="200" height="150" alt="Радіо Сервіс" /></a></p>
						{% else %}
						<p><a href="/fotogalerys/get/{{ item.id }}/"><img class="thumbnail" src="/static/images/logotip.png" width="200" height="150" alt="Радіо Сервіс" /></a></p>
                        {% endif %}
					</td>
				</tr>
			</tbody>
	    </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
